langchain
python-dotenv
langchain-community
langchain-groq
langchain_chroma
chromadb
langchain_huggingface
sentence_transformers
streamlit
arxiv
pymupdf
faiss-cpu
sentence_transformers
langchain-text-splitters
pypdf

